name: Pull Request

on:
  pull_request:

jobs:
  modified_rocks:
    uses: ./.github/workflows/modified_rocks.yaml

  build-and-publish:
    needs: modified_rocks
    uses: ./.github/workflows/build_publish.yaml
    with:
      rocks: ${{ needs.modified_rocks.outputs.rocks }}
      publish: false
      branch: ${{ github.ref }}
